@mixin sm {
  @media (max-width: ($sm)) {
    @content;
  }
}
@mixin md {
  @media (max-width: ($md)) {
    @content;
  }
}
@mixin lg {
  @media (max-width: ($lg)) {
    @content;
  }
}
@mixin xl {
  @media (max-width: ($xl)) {
    @content;
  }
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
address,
em,
img,
small,
strong,
i,
dl,
dt,
dd,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tr,
th,
td,
article,
aside,
canvas,
figcaption,
figure,
footer,
header,
nav,
section,
time,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: bottom;
  background: transparent;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: $fontfamily, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',
    'メイリオ', 'Meiryo', sans-serif;
  color: #333;
  background: url('~assets/img/washi.png') repeat;
  font-size: 1.8rem;
  @include xl {
    font-size: 1.6rem;
  }
  @include sm {
    font-size: 1.4rem;
  }
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
button {
  border: none;
  outline: none;
  padding: 0;
}
a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: bottom;
  background: transparent;
  box-sizing: border-box;
  cursor: pointer;
  color: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
select,
textarea {
  vertical-align: middle;
  box-sizing: border-box;
  line-height: 1;
}
img {
  max-width: 100%;
  height: auto;
}
//PCのとき電話無効
@media screen and (min-width: 769px) {
  a[href*='tel:'] {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
  }
}
